<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h2 th:text="${titulo}"></h2>
<form th:action="@{/form}" method="post">
    <div>
        <label for="username">Usuario:</label>
        <div>
            <input type="text" id="username" name="username" th:value="${usuario.username}">
        </div>
        <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
    </div>
    <div>
        <label for="password">Clave:</label>
        <div>
            <input type="text" id="password" name="password" th:value="${usuario.password}">>
        </div>
        <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
    </div>
    <div>
        <label for="email">Email:</label>
        <div>
            <input type="text" id="email" name="email" th:value="${usuario.email}">>
        </div>
        <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>