<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h2 th:text="${titulo}"></h2>
<form th:action="@{/form}" th:object="${usuario}" method="post">
    <div>
        <div>
            <input type="hidden" id="id" th:field="*{id}">
        </div>
        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
    </div>
    <div>
        <label for="username">Usuario:</label>
        <div>
            <input type="text" id="username" th:field="*{username}">
        </div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Clave:</label>
        <div>
            <input type="password"  id="password" th:field="*{password}">
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">Email:</label>
        <div>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="pais.codigo">País:</label>
        <div>
            <select id="pais.codigo" th:field="*{pais.codigo}">
                <option value="">--- Seleccione ---</option>
                <option th:each="pais: ${objectPaises}" th:value="${pais.codigo}" th:text="${pais.nombre}" ></option>
            </select>
        </div>
        <div th:if="${#fields.hasErrors('pais.codigo')}" th:errors="*{pais.codigo}"></div>
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>