<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h2 th:text="${titulo}"></h2>
<form th:action="@{/form}" th:object="${usuario}" method="post">
    <div>
        <div>
            <input type="hidden" id="id" th:field="*{id}">
        </div>
        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
    </div>
    <div>
        <label for="username">Usuario:</label>
        <div>
            <input type="text" id="username" th:field="*{username}">
        </div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Clave:</label>
        <div>
            <input type="password"  id="password" th:field="*{password}">
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">Email:</label>
        <div>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="pais">País:</label>
        <div>
            <select id="pais" th:field="*{pais}">
                <option value="">--- Seleccione ---</option>
                <option th:each="pais: ${objectPaisesV2}" th:value="${pais.codigo}" th:text="${pais.nombre}" ></option>
            </select>
        </div>
        <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha Nacimiento:</label>
        <div>
            <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}">
        </div>
        <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
    </div>
    <div>
        <label>Roles:</label>
        <div th:each="rol:${listRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${rol}">
            <label th:for="${#ids.prev('roles')}" th:text="${rol}"></label>
        </div>
        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>